
NdeDataClasses/bin/Debug/NdeDataClasses.pdb
NdeDataClasses/obj/Debug/NdeDataClasses.csprojAssemblyReference.cache
NdeDataClasses/obj/Debug/NdeDataClasses.dll
NdeDataClasses/obj/Debug/NdeDataClasses.pdb
NdeInterfses/bin/Debug/NdeDataClasses.dll
NdeInterfses/bin/Debug/NdeDataClasses.pdb
NdeInterfses/bin/Debug/NdeInterfses.dll
NdeInterfses/bin/Debug/NdeInterfses.pdb
NdeInterfses/obj/Debug/NdeInterfases.csprojAssemblyReference.cache
NdeInterfses/obj/Debug/NdeInterfses.dll
NdeInterfses/obj/Debug/NdeInterfses.pdb
NdeServices/bin/BCh.Ktc.Nde.MiddleTier.dll
NdeServices/bin/BCh.Ktc.Nde.MiddleTier.pdb
NdeServices/bin/NdeDataAccessFb.dll
NdeServices/bin/NdeDataAccessFb.pdb
NdeServices/bin/NdeDataAccessSql.dll
NdeServices/bin/NdeDataAccessSql.pdb
NdeServices/bin/NdeDataClasses.pdb
NdeServices/bin/NdeDataClasses.dll
NdeServices/bin/NdeInterfses.dll
NdeServices/bin/NdeServices.dll
NdeServices/bin/NdeServices.pdb
NdeServices/obj/Debug/NdeServices.csprojAssemblyReference.cache
NdeServices/obj/Debug/NdeServices.dll
NdeServices/obj/Debug/NdeServices.pdb
NdeWcfOverWinService/obj/x86/Debug/NdeWcfOverWinService.application
NdeWcfOverWinService/obj/x86/Debug/NdeWcfOverWinService.csprojAssemblyReference.cache
NdeWcfOverWinService/obj/x86/Debug/NdeWcfOverWinService.exe
NdeWcfOverWinService/obj/x86/Debug/NdeWcfOverWinService.exe.manifest
NdeWcfOverWinService/obj/x86/Debug/NdeWcfOverWinService.pdb
