<?xml version="1.0"?>
<configuration>
	<!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
	<configSections>
		<section name="engine" type="NdeDataClasses.Configuration.EngineConfigurationSection, NdeDataClasses" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
	</configSections>
	<appSettings>
		<add key="timerPeriod" value="20000" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="deltaTimeStart" value="26" />
		<add key="deltaTimeStop" value="20" />
	</appSettings>
	<connectionStrings>
		<add name="cnfDb" connectionString="Dialect=3;Database=10.23.101.88:C:\Неман\Витебск-Бигосово\Conf\CNF_Витебск-Бигосово.GDB;User Id=NEMAN;Password=NEMAN"/>
		<add name="gidDb" connectionString="Dialect=3;Database=10.23.101.88:C:\Неман\Витебск-Бигосово\Events\GID.GDB;User Id=NEMAN;Password=NEMAN"/>
		<add name="mesDb" connectionString="data source=10.23.101.88\SqlExpress;database=GAppDb;User ID=sa;Password=1;Trusted_Connection=false;"/>
		<add name="buhDb" connectionString="data source=10.23.101.88\SqlExpress;database=Buh3Asoup;User ID=sa;Password=1;Trusted_Connection=false;"/>
	</connectionStrings>
	<engine>
		<buhSections>
			<buhSection stationName="Медведка" nsuNumber="5" rewriteStation="160002" />
			<buhSection stationName="Лучеса1Ч" nsuNumber="10" rewriteStation="160002" />
			<buhSection stationName="Лучеса2Ч" nsuNumber="9" rewriteStation="160002" />
			<buhSection stationName="Могилев1Н" nsuNumber="3" rewriteStation="156505" />
			<buhSection stationName="Могилев1НД" nsuNumber="2" rewriteStation="156609" />
			<buhSection stationName="Чепино1Н" nsuNumber="8" rewriteStation="160002" />
			<buhSection stationName="Чепино1НД" nsuNumber="7" rewriteStation="160002" />
			<buhSection stationName="Можеевка1НД" nsuNumber="6" rewriteStation="166723" />
			<buhSection stationName="Можеевка1Н" nsuNumber="5" rewriteStation="166723" />
			<buhSection stationName="Червено" nsuNumber="8" rewriteStation="166600" />
			<buhSection stationName="Езерище" nsuNumber="12" rewriteStation="160801" />
		</buhSections>
	</engine>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>