<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="gidDb" connectionString="Dialect=3;Database=localhost:C:\Неман\Могилев-Езерище\Events\GID.GDB;User Id=NEMAN;Password=NEMAN" />
    <add name="buhDb" connectionString="data source=10.20.47.69\SqlExpress;database=Buh3Asoup;User ID=sa;Password=1;Trusted_Connection=false;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:15111/Nde/NdeService.svc" binding="netTcpBinding" bindingConfiguration="NdeTcpBinding"
        contract="NdeServices.INdeService" name="NdeTcpEndpoint" />
      <endpoint address="net.tcp://localhost:15111/Nde/mex" binding="mexTcpBinding" bindingConfiguration="MexTcpBinding"
        contract="NdeServices.INdeService" name="MexTcpEndpoint" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="NdeTcpBinding" />
      </netTcpBinding>
      <mexTcpBinding>
        <binding name="MexTcpBinding" />
      </mexTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
