<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="engine" type="NdeDataClasses.Configuration.EngineConfigurationSection, NdeDataClasses" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>
  <connectionStrings>

    <add name="gidDb" connectionString="Dialect=3;Database=10.23.101.88:C:\Неман\Могилев-Езерище\Events\GID.GDB;User Id=NEMAN;Password=NEMAN"/>
    <add name="buhDb" connectionString="data source=10.23.101.88\SqlExpress;database=Buh3Asoup;User ID=sa;Password=1;Trusted_Connection=false;"/>

  </connectionStrings>
  <appSettings>
    <add key="deltaTimeStart" value="25" />
    <add key="deltaTimeStop" value="20" />
    <!-- Список кодов еср, по которым не сравниваются плановые нитки -->
    <add key="nodeEsr" value="160727, 160712"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding  name="NdeServicesBinding" maxBufferSize="2147483647"
                maxBufferPoolSize="2147483647"
                maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32"
                                 maxStringContentLength="2147483647"
                                 maxArrayLength="2147483647"
                                 maxBytesPerRead="2147483647"
                                 maxNameTableCharCount="2147483647" />
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="NdeServices.NdeService" behaviorConfiguration="NdeWcfOverWinService.ServiceBehavior">
        <endpoint address="" binding="netTcpBinding" behaviorConfiguration="" contract="NdeServices.INdeService" bindingConfiguration="NdeServicesBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" behaviorConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15200/NdeWcfOverWinService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NdeWcfOverWinService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <engine>
    <buhSections>
      <buhSection stationName="Медведка" nsuNumber="5" rewriteStation="160002" />
      <buhSection stationName="Лучеса1Ч" nsuNumber="10" rewriteStation="160002" />
      <buhSection stationName="Лучеса2Ч" nsuNumber="9" rewriteStation="160002" />
      <buhSection stationName="Могилев1Н" nsuNumber="3" rewriteStation="156505" />
      <buhSection stationName="Могилев1НД" nsuNumber="2" rewriteStation="156609" />
      <buhSection stationName="Чепино1Н" nsuNumber="8" rewriteStation="160002" />
      <buhSection stationName="Чепино1НД" nsuNumber="7" rewriteStation="160002" />
    </buhSections>
  </engine>

</configuration>